@font-face {
    font-family: Dogica;
    src: url(./assets/font/OTF/dogica.otf);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    width: 100%;
    height: 100vh;

    background-image: url("./assets/kali-linux-wallpaper-v7.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#icone {
    width: auto;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

#icone > img {
    width: 90px;
    padding: 10px;

}

#icone > p {
    margin: 5px;
    color: white;
    font-family: Dogica;
    font-size: 10px;
}

#terminal {
    width: 750px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgba(40, 40, 40, 50%);
    border-radius: 5px;
}

.cabecarioTerminal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: fit-content;
    background-color: rgb(25, 25, 25);
    border-radius: 5px 5px 0px 0px;
}

.cabecarioTerminal > h2 {
    padding: 5px;
    color: #FFFFFF;
    font-size: 16px;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #FFFFFF;
    font-family: Dogica;
}

fieldset {
    display: flex;
    flex-direction: column;
    border: 0;
    padding: 10px;
}

label {
    padding: 5px;
}

label > input {
    margin: 5px;
}

#texto {
    border: 0px;
    width: 100%;
    padding: 5px;

}